<div
  class="relative mx-auto flex flex-col items-center justify-center gap-32 bg-gray-50 px-4 py-16 sm:px-6 lg:px-8"
>
  <svg
    viewBox="0 0 1440 58"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    class="absolute top-0 bg-transparent"
  >
    <path
      d="M-100 58C-100 58 218.416 36.3297 693.5 36.3297C1168.58 36.3297 1487 58 1487 58V-3.8147e-06H-100V58Z"
      fill="#020618"
    >
    </path>
  </svg>
  <div
    class="flex w-full max-w-5xl flex-col items-center justify-center pt-8 sm:pt-16"
  >
    <div class="flex flex-col text-center">
      <h2 class="font-light font-mono text-primary text-sm sm:text-md">
        Your Auth. Our Bandwidth.
      </h2>
      <p
        class="mt-2 font-bold text-3xl text-gray-900 tracking-tight sm:text-5xl"
      >
        The right balance of security and simplicity.
      </p>
      <p class="mx-auto mt-5 max-w-prose text-gray-500 text-md sm:text-lg">
        Authentication happens on your server, the upload happens on ours.
      </p>
    </div>
    <div class="px-6 pb-8 text-center">
      <h1
        class="mt-2 font-bold text-3xl text-gray-900 tracking-tight sm:text-5xl"
      >
        Easily manage your files.
      </h1>
      <p class="mx-auto mt-5 max-w-prose text-gray-500 text-md sm:text-lg">
        A powerful, intuitive dashboard for developers to securely manage and
        track all uploaded files.
      </p>
    </div>
  </div>

  <svg
    viewBox="0 0 1440 58"
    fill="#000000"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    width="100%"
    class="absolute bottom-0 bg-transparent"
    ><path
      transform="rotate(180) translate(-1440, -60)"
      d="M-100 58C-100 58 218.416 36.3297 693.5 36.3297C1168.58 36.3297 1487 58 1487 58V-3.8147e-06H-100V58Z"
      fill="#020618"></path></svg>
</div>
